# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Build
dist/
build/

# Editor
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

uploads/

*.sqlite
*.db